.Resultados {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: unset;
  z-index: 10;
  background: rgb(6, 34, 34);
  box-shadow:
    inset 10px 0 20px -10px rgba(57, 255, 20, 0.5),
    /* sombra izquierda */ inset -10px 0 20px -10px rgba(57, 255, 20, 0.5); /* sombra derecha */
}
.Show {
  display: none;
}
.Contenedor-Resultados {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Contenedor-Resultados .Fondo-Resultados {
  position: absolute;
  inset: unset;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.Texto-Resultados {
  width: clamp(200px, 50vw, 600px);
  height: clamp(200px, 30vh, 500px);
  background: rgb(6, 34, 34, 0.6);
  font-size: 1.5rem;
  color: white;
  -webkit-text-stroke: 2px rgb(57, 255, 20, 0.5);
  border: rgb(57, 255, 20, 0.5) 2px solid;
  border-radius: 10px;
  overflow: hidden;
  padding: 1rem;
  position: absolute;
  inset: unset;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.ConteinerTirada {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
