.Contenedor {
  position: relative;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgb(0, 0, 0, 0.9);
  box-shadow: inset rgb(57, 255, 20, 0.5) 0 0 20px;
}
.Titulo {
  width: 100%;
  height: clamp(18px, 10vh, 38px);
  text-align: center;
}
.Titulo h1 {
  width: clamp(350px, 100%, 1080px);
  height: 100%;
  background: transparent;
  margin: 0 auto;
  color: transparent;
  -webkit-text-stroke: 2px rgb(57, 255, 20, 0.5);
  font-size: 2rem;
}
.Logo {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Sello {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: parpadeo 5s 1 forwards;
}
@keyframes parpadeo {
  from {
    filter: drop-shadow(0 0 0rem rgba(77, 128, 2, 0.863));
    transform: scale(0.5);
  }
  to {
    filter: drop-shadow(0 0 0.5rem rgb(173, 255, 47, 0.5));
    transform: scale(1);
  }
}
.Form-dado {
  width: 100%;
  height: clamp(18px, 10vh, 38px);
}
.Form-Input {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Input-dado {
  width: clamp(300px, 30vw, 600px);
  height: 80%;
  border-radius: 20px;
  text-align: center;
  padding: 0.5rem;
  filter: drop-shadow(rgb(57, 255, 20, 0.5) 0 0 10px);
}
#Input-dado::placeholder {
  text-align: center;
  color: rgba(13, 56, 5);
}
.Estado {
  width: 100%;
  height: clamp(110px, 30vh, 300px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.Estado-Boton {
  all: unset;
  height: clamp(3rem, 8vw, 5rem);
  aspect-ratio: 1 / 1;
  border: rgb(57, 255, 20, 0.3) 2px solid;
  border-radius: 20px;
  padding: 1rem;
  background: local;
}
.Estado-Boton img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.activadoB {
  box-shadow: 0 0 5px #ffd700; /* resplandor dorado */
  filter: drop-shadow(#ffd700 0 0 10px);
}
.activadoM {
  box-shadow: 0 0 5px #8b0000; /* fuego oscuro */
  filter: drop-shadow(#8b0000 0 0 10px);
}
